<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

    {{ partial "head.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }}
    <div class="flex-wrapper">
      <div class="container wrapper">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1 id="{{ .Title | lower }}">{{ .Title }}</h1>
          </div>
        </div>
        <div class="grid-wrapper top-pad">
          {{ range .Paginator.Pages }}
          <div class="box">
            <div class="panel panel-default flexed-panel">
              <div class="panel-body">
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ if eq .Params.current true }}
                <span class="label label-primary pull-right">Current</span>
                {{ else }}
                <span class="label label-warning pull-right">Abandoned</span>
                {{ end }}
                <div class="clearfix"></div>
                <p>{{ .Summary }}</p>
                <div class="text-center">
                  <a href="{{ .Permalink }}">{{ i18n "read-more" }}</a>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
        {{ partial "pagination" . }}
      </div>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
