<!DOCTYPE html>
<html>

    <head>
        <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

        {{ partial "head.html" . }}
    </head>

    <body>
        {{ partial "header.html" . }}
        <div class="flex-wrapper">
          <div class="container wrapper">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                {{ if eq .Params.current true }}
                <div class="panel panel-default">
                {{ else }}
                <div class="panel panel-warning">
                {{ end }}
                  <div class="panel-heading">
                    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                  </div>
                  <div class="panel-body">
                    <ul class="list-unstyled">
                      <li>Created: {{ (time .Params.created).Format "Jan 2, 2006" }}</li>
                      {{ with .Params.source }}
                      <li>Source: <a href="{{ . }}" target="_blank">View Source</a></li>
                      {{ end }}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-8">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <p>{{ .Content }}</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        {{ partial "footer.html" . }}
    </body>
