$off-black: #2a2a2a;
$light-black: #262222;

$off-grey: #9d9d9d;
$light-grey: #d3d3d3;
$dark-grey: #444444;

$dark-charcol: #333333;

$white: #ffffff;
$off-white: #d2d2d2;
$smoke-white: #F5F5F5;

$light-blue: #9fd2ff;
$dark-blue: #00396c;
$dark-blue2: #004b8c;
