@import "vendor/neat/neat";
@import "vendor/bourbon/bourbon";
@import "colors.scss";

body {
  background-color: $off-black;
}

.post-list-item {
  background-color: $light-grey;
  padding: 0 2em;
  .post-header {
    margin: 0 -2em 0 -2em
  }
  .post-summary {
    padding-top: 1em;
  }
  .post-list-footer {
    a {
      color: $dark-blue;
    }
  }
}

.not-found {
  color: #fff;
}

#user-name, i.fa, div.user-description {
  color: $off-grey;
  border-color: $off-grey;
}

article, div.basic-page {
  color: $off-black;
  background-color: $smoke-white;
  padding: 3em;
  a {
    color: $dark-blue2;
  }
}

footer {
  background-color: $dark-charcol !important;
  color: $off-grey;
}

h1#posts, h1#projects, h1#tag {
  color: $off-white;
}

.top-pad {
  padding-top: 1em;
}

footer {
  a {
    color: $light-blue;
  }
}

h2.post-link > a:focus, a:hover {
  text-decoration: none;
}

.label-warning {
  color: $light-black;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: $white;
  color: $dark-grey;
  @include padding(null 2em null 2em);
}

div#post-tagcloud {
  display: grid;
  grid-gap: 10px;
  color: $dark-grey;
  @include padding(null 2em null 2em);
}

.social-icons {
  filter: invert(79%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(79%) contrast(96%);
  margin: 1em;
}

div#donor-badges {
  margin-top: 10rem;
}

.index {
  margin-top: 10rem;
}
