<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

    {{ partial "head.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }}
    <div class="flex-wrapper">
      <div class="container wrapper">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1 id="posts">{{ .Title }}</h1>
          </div>
          <div class="col-xs-12 row">
            <div class="col-xs-12 col-md-8">
              <ul id="post-list">
                {{ range .Paginator.Pages }}
                <li>
                  <div class="post-list-item">
                    <div class="post-header">
                      <h4 class="post-link">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                      </h4>
                      <h4 class="post-date">
                        {{ .Date.Format "2006-01-02" }}
                      </h4>
                    </div>
                    <div class="post-summary"><p>{{ .Summary }}</p></div>
                    <div class="post-list-footer text-center">
                      <a href="{{ .Permalink }}">{{ i18n "read-more" }}</a>
                    </div>
                  </div>
                </li>
                {{ end }}
              </ul>
            </div>
            <div class="col-xs-12 col-md-4" id="post-tagcloud" style="margin-top:2rem;">
              <div class="box">
                <div class="panel panel-default flexed-panel">
                  <div class="panel-body">
                    <h5 class="text-center">Tags</h5>
                    {{ range .Site.Taxonomies.tags }}
                    <a
                      class="btn btn-link"
                      href="{{ .Page.RelPermalink }}">
                      {{ .Page.Title }} <span class="badge">{{ .Count }}</span>
                    </a>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ partial "pagination" . }}
      </div>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
