<!DOCTYPE html>
<html>

    <head>
        <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

        {{ partial "head.html" . }}
    </head>

    <body>
        {{ partial "header.html" . }}
        <div class="flex-wrapper">
          <div class="container wrapper">
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <article class="post">
                  <header>
                    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                    <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
                  </header>
                  <section class="post-content">
                    {{ .Content }}
                  </section>
                  {{ if ne .Params.nocomments true }}
                  <section class="post-comments">
                    {{ template "_internal/disqus.html" . }}
                  </section>
                  {{ end }}
                </article>
              </div>
              {{ $related := .Site.RegularPages.Related . | first 5 }}
              {{ with $related }}
              <div class="col-xs-12 col-md-4" id="post-tagcloud">
                <div class="box">
                  <div class="panel panel-default flexed-panel">
                    <div class="panel-body">
                      <h5 class="text-center">See Also</h5>
                      {{ range . }}
                      <a
                        class="btn btn-link"
                        href="{{ .RelPermalink }}">
                        {{ .Title }}
                      </a>
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
          {{ partial "footer.html" . }}
        </div>
      </body>
