{{ with .Site.Params.GnuPGFingerprint }}
<a href="https://pgp.key-server.io/pks/lookup?op=vindex&search=0x{{.}}" title="GPG" target="_blank">
  <span class="sr-only sr-only-focusable">GnuPG Fingerprint</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/gnuprivacyguard.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.KeyBaseID }}
<a href="https://keybase.io/{{.}}" title="KeyBase" target="_blank">
  <span class="sr-only sr-only-focusable">KeyBase</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/keybase.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.StackExchangeID }}
<a href="https://stackexchange.com/users/{{.}}" title="StackExchange" target="_blank">
  <span class="sr-only sr-only-focusable">Stack Exchange</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/stackexchange.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.StackOverflowID }}
<a href="https://stackoverflow.com/users/{{.}}" title="StackExchange" target="_blank">
  <span class="sr-only sr-only-focusable">Stack Overflow</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/stackoverflow.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.SlackURL }}
<a href="{{.}}" title="Slack" target="_blank">
  <span class="sr-only sr-only-focusable">Slack</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/slack.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.TwitterID }}
<a href="https://twitter.com/{{.}}" title="Twitter" target="_blank">
  <span class="sr-only sr-only-focusable">vendion on Twitter</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/twitter.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.MastodonURL }}
<a href="{{.}}" title="Mastodon" target="_blank">
  <span class="sr-only sr-only-focusable">Mastodon</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/mastodon.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.GoogleplusID }}
<a href="https://plus.google.com/{{.}}/about" title="Google+" target="_blank">
  <span class="sr-only sr-only-focusable">vendion on Google plus</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/google.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.FacebookID }}
<a href="https://facebook.com/{{.}}" title="Facebook" target="_blank">
  <span class="sr-only sr-only-focusable">Facebook</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/facebook.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.BitbucketID }}
<a href="https://bitbucket.org/{{.}}" title="Bitbucket" target="_blank">
  <span class="sr-only sr-only-focusable">vendion on Bitbucket</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/bitbucket.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.GithubID }}
<a href="https://github.com/{{.}}" title="GitHub" target="_blank">
  <span class="sr-only sr-only-focusable">vendion on GitHub</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/github.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.GitlabId }}
<a href="https://gitlab.com/{{.}}" title="GitLab" target="_blank">
  <span class="sr-only sr-only-focusable">vendion on GitLab</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/gitlab.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.CodepenID }}
<a href="https://codepen.io/{{.}}" title="Codepen" target="_blank">
  <span class="sr-only sr-only-focusable">Codepen</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/codepen.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.LinkedInID }}
<a href="https://linkedin.com/in/{{.}}" title="LinkedIn" target="_blank">
  <span class="sr-only sr-only-focusable">vendion on LinkedIn</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/linkedin.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.MediumID }}
<a href="https://medium.com/@{{.}}" rel="me" title="Medium"><i class="fab fa-medium fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.YoutubeID }}
<!-- For youtube, since there are multiple path urls please add everything after https://youtube.com/ in channel url -->
<a href="https://youtube.com/{{.}}" rel="me" title="Youtube"><i class="fab fa-youtube fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.SpotifyID }}
<a href="https://open.spotify.com/user/{{.}}" rel="me" title="Spotify"><i class="fab fa-spotify fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.SoundcloudID }}
<a href="https://soundcloud.com/{{.}}" rel="me" title="Soundcloud"><i class="fab fa-soundcloud fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.InstagramID }}
<a href="https://instagram.com/{{.}}" title="Instagram" target="_blank">
  <span class="sr-only sr-only-focusable">Instagram</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/instagram.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.TelegramID }}
<a href="https://t.me/{{.}}" title="Telegram" target="_blank">
  <span class="sr-only sr-only-focusable">Telegram</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/telegram.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.RedditID }}
<a href="https://reddit.com/user/{{.}}" rel="me" title="Reddit"><i class="fab fa-reddit fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.Email }}
<a href="mailto:{{.}}" title="Email" target="_blank">
  <span class="sr-only sr-only-focusable">Email vendion</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/gmail.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.Phone }}
<a href="tel:{{.}}" title="Phone">
  <span class="sr-only sr-only-focusable">Phone vendion</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/phone.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.Mobile }}
<a href="tel:{{.}}" title="Mobile">
  <span class="sr-only sr-only-focusable">Phone vendion</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/phone.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.PayPalMeID }}
<a href="https://www.paypal.me/{{.}}" title="PayPal.Me" target="_blank">
  <span class="sr-only sr-only-focusable">PayPal Me</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/paypal.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.XingURL }}
<a href="{{.}}" title="XING" target="_blank">
  <span class="sr-only sr-only-focusable">XING</span>
  <img height="32" width="32" src="https://unpkg.com/simple-icons@v3/icons/xing.svg" class="social-icons"/>
</a>
{{ end }}
{{ with .Site.Params.CvURL }}
<a href="{{.}}" title="Curriculum Vitae"><i class="fas fa-file-alt fa-3x" aria-hidden="true"></i></a>
{{ end }}
