<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title> {{ .Site.Title }} </title>

    {{ partial "head.html" . }}

  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="flex-wrapper">
      <div class="container wrapper">
        <h1 class="not-found">Uhm... WHAT?</h1>
        <div class="not-found post-content">
          <p>Looks like you're lost. This page doesn't exist</p>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
