<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title> {{ .Site.Title }} </title>

    {{ partial "head.html" . }}

  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="flex-wrapper">
      <div class="container wrapper">
        {{ with .Site.Params.ProfilePicture }}
        <div class="row">
          <div class="col-sm-3 col-centered">
            <img alt="profile-picture" class="img-responsive img-circle user-picture center-block" src="{{.}}">
          </div>
        </div>
        {{ end }}
        <div class="row">
          <div class="col-xs-12 user-profile text-center">
            <h1 id="user-name">{{ .Site.Params.Name }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 user-social text-center">
            {{ partial "social.html" . }}
          </div>
        </div>
        {{ with .Site.Params.About }}
        <div class="row">
          <div class="col-md-6 col-md-offset-3 user-description text-center">
              <p>{{ . }}</p>
          </div>
        </div>
        {{ end }}
        <div class="row pull-right" id="donor-badges">
          <div class="col-xs-4">
            <a href="https://freebsdfoundation.org/donate" target="_blank">
              <img src="https://freebsdfoundation.org/wp-content/uploads/2015/12/proud_donor.gif"
                   alt="Proud Donor"
                   title="FreeBSD Foundation Donor">
            </a>
          </div>
          <div class="col-xs-4">
            <a href="https://supporters.eff.org/donate/30for30--D" target="_blank">
              <img src="https://www.eff.org/files/2019/11/20/2020-membership-badge-2.png"
                   alt="Proud Doner"
                   title="EFF Doner">
            </a>
          </div>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
